import(stats)
import(MASS)
import(mvmeta)
import(mada)
importFrom(metafor,rma)
importFrom(metafor,funnel)
importFrom(metafor,regtest)
importFrom(graphics,par)
export(edta)
export(sdta)
export(bifunnel)
export(MVPBT2)
export(MVPBT3)
